<!DOCTYPE HTML>
<html xmlns:th="http://www.niekam.nieko">
<head>

    <title>Užsakymai</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/black-tie/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="meniu.css">
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

</head>

<body>

	<nav class="menu">
		<input type="checkbox" href="#" class="expandmenu" name="expandmenu" id="expandmenu" />
		<label class="expandmenu-button" for="expandmenu">
			<span class="lines first-line"></span>
			<span class="lines sec-line"></span>
			<span class="lines third-line"></span>
			<span class="label fourth-line">Meniu</span>
		</label>
		<a href="http://localhost:8080/uzsakymai" class="menu-item col1"> <i class="fas fa-cart-arrow-down"></i> </a>
 		<a href="http://localhost:8080/patiekalai" class="menu-item col2"> <i class="fas fa-utensils"></i> </a>
		<a href="http://localhost:8080/produktai" class="menu-item col3"> <i class="fas fa-carrot"></i> </a>
		<a href="http://localhost:8080/apie" class="menu-item col4"> <i class="fas fa-info"></i> </a>
	</nav>
	Cia bus aprasymas.
</body>
</html>