<!DOCTYPE HTML>
<html xmlns:th="http://www.niekam.nieko">
<head>

    <title>Produktai</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/black-tie/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="meniu.css">
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	
<style>
			
	label, input { display:block; }
	input.text { margin-bottom:12px; width:95%; padding: .4em; }
	fieldset { padding:0; border:0; margin-top:25px; }
	h1 { font-size: 1.2em; margin: .6em 0; }
	div#users-contain { width: 350px; margin: 20px 0; }
	div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
	div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
	.ui-dialog .ui-state-error { padding: .3em; }
	.validateTips { border: 1px solid transparent; padding: 0.3em; }
	
	.itraukti {
	color: green;
	left: 1100px;
	top: 40px;
	}
	
</style>
	    
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous">
</script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		
<script>
		
		$(document).ready ( function() {
		
		var id_accessing;			//reikalingas globalus kintamasis kad pasiekti kitose funkcijose
					
		pasiimtiProduktus();
		
		function trintiProdukta( id, likutis) {
		
			params_str = 'id=' + id + '&likutis=' + likutis;  
		
			$.ajax(
				{
					url: "http://localhost:8080/restfull/delp?" + params_str
				}
			)
			.done( function( data ) {
				
				pasiimtiProduktus();
			});			
		}
		
		function pasiimtiProduktus() {
		
			$.ajax(
				{
					url: "http://localhost:8080/restfull/produktai" 
															
				}
			)
			.done(	function( data ) {
			
						
															
						res_str = '<table align="center"><thead class="ui-widget-header">'
								+ '<tr><th>id</th><th>Pavadinimas</th><th>Mato vienetai</th><th>Mato kiekybė</th><th>Kaina</th><th>Kiekis sandėlyje</th></tr>';
						
						for ( i = 0; i < data.length; i++) {
						
							res_str += '<tr class="s' + data [ i ].busena  + '" data-id="' + data [ i ].id  +'" data-pav="'+ data [ i ].pav + '"data-mat_vnt="'+ data [ i ].mat_vnt + '"data-mat_kiek="'+ data [ i ].mat_kiek + '"data-kaina="'+ data [ i ].kaina + '"data-kiekis_sand="'+ data [ i ].kiekis_sand + '">'
								+ '<td>' + data [ i ].id + '</td>' 
								+ '<td align="center">' + data [ i ].pav + '</td>'
								+ '<td align="center">' + data [ i ].mat_vnt + '</td>'
								+ '<td align="center">' + data [ i ].mat_kiek + '</td>'
								+ '<td align="center">' + data [ i ].kaina + '</td>'
								+ '<td align="center">' + data [ i ].kiekis_sand + '</td>'
								;
								
							//jei yra likutis galima istrinti produkta	
							if ( data [ i ].likutis == 'yra' ) {	
							
								res_str +=
								
									'<td><input type="button" class="anuliuotas ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="Naikinti"></td>'
									
							}	
							
							// jei yra likutis galima redaguoti produkta
							if (data [i].likutis == 'yra') {
							res_str += '<td><input type="button" class="redaguotas ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="Redaguoti"></td>'
							}
														
							res_str += '</tr>';
						}
						
						res_str += '</table>'
						
						$( '#produktai' ).html ( res_str );
						
						//trinti produkta
						$( '.anuliuotas' ).on ( 'click', function() {
						
							id_accessing = $( this ).parent().parent().data( 'id' );
							ConfirmDialog('Ar tikrai nori ištrinti?');
												
						});
						
						//redaguoti produkta
						$( ".redaguotas" ).on( "click", function() {
							dialog.dialog( "open" );
							
							$( '#id' ).val ( $( this ).parent().parent().data( 'id' ) );
							$( '#pav' ).val ( $( this ).parent().parent().data( 'pav' ) );
							$( '#mat_vnt' ).val ( $( this ).parent().parent().data( 'mat_vnt' ) );
							$( '#mat_kiek' ).val ( $( this ).parent().parent().data( 'mat_kiek' ) );
							$( '#kaina' ).val ( $( this ).parent().parent().data( 'kaina' ) );
							$( '#kiekis_sand' ).val ( $( this ).parent().parent().data( 'kiekis_sand' ) );
						});						
										
			});
		}
		
		$( "#itraukti" ).on( "click", function() { dialog1.dialog( "open" );	});		
		
		function ConfirmDialog(message) {
			$('<div></div>').appendTo('body')
			.html('<div><h6>' + message + '?</h6></div>')
			.dialog({
			modal: true,
			title: 'Įspėjimas!',
			zIndex: 10000,
			autoOpen: true,
			width: 'auto',
			resizable: false,
			buttons: {
			Taip: function() {
          
				trintiProdukta ( id_accessing, 'yra' );
				alert("Ištrinta");
			//	$('body').append('<h1>Istrinta</h1>');

				$(this).dialog("close");
				},
			
			Ne: function() {
				
				$(this).dialog("close");
				}
			},
			
			close: function(event, ui) {
			$(this).remove();
			}
			});
		};
		
		
			var dialog, form,
		//	emailRegex = /^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$/,
			pavp = $( "#pavp" ),
			mat_vntp = $( "#mat_vntp" ),
			mat_kiekp = $( "#mat_kiekp" ),
			kainap = $( "#kainap" ),
			kiekis_sandp = $( "#kiekis_sandp" ),
			allFields = $( [] ).add( pavp ).add(mat_vntp).add(mat_kiekp).add(kainap).add(kiekis_sandp),
			tips = $( ".validateTips" );
 
			function updateTips( t ) {
			tips
			.text( t )
			.addClass( "ui-state-highlight" );
			setTimeout(function() {
			tips.removeClass( "ui-state-highlight", 1500 );
			}, 500 );
			}
 
			function checkLength( o, n, min, max ) {
			if ( o.val().length > max || o.val().length < min ) {
			o.addClass( "ui-state-error" );
			updateTips( "Eilutė - " + n + " - tusčia! " );
			return false;
			} else {
			return true;
			}
			}
 			
		function addProdukt() {
			var valid = true;
			allFields.removeClass( "ui-state-error" );
 
			valid = valid && checkLength( pavp, ' "Pavadinimas" ', 1, 15 );
			valid = valid && checkLength( mat_vntp, ' "Mato vienetai" ', 1, 15);
			valid = valid && checkLength( mat_kiekp, ' "Mato kiekybė" ', 1, 15);
			valid = valid && checkLength( kainap, ' "Kaina" ', 1, 15);
			valid = valid && checkLength( kiekis_sandp, ' "Kiekis sandėlyje" ', 1, 15);
		    
			if ( valid ) {
			
			itrauktas = {
				
				pavp: $( '#pavp' ).val()
				, mat_vntp: $( '#mat_vntp' ).val() 
				, mat_kiekp: parseInt ( $( '#mat_kiekp' ).val() )
				, kainap: parseFloat ( $( '#kainap' ).val() )
				, kiekis_sandp: parseFloat ( $( '#kiekis_sandp' ).val() )
			}
			
			params_str = 
				"pav="  + itrauktas.pavp 
				+ '&mat_vnt=' + itrauktas.mat_vntp 
				+ '&mat_kiek=' + itrauktas.mat_kiekp
				+ '&kaina=' + itrauktas.kainap
				+ '&kiekis_sand=' + itrauktas.kiekis_sandp
				
			$.ajax(
				{
					url: "http://localhost:8080/restfull/addp?" + params_str
				}
			)
			.done( function( data ) {
				
				pasiimtiProduktus();
			
			});	
		
		dialog1.dialog( "close" );	
		}
	}	
		function editP() {
		
			redaguotas = {
				
				id: parseInt ( $( '#id' ).val()	)
				, pav: $( '#pav' ).val()
				, mat_vnt: $( '#mat_vnt' ).val() 
				, mat_kiek: parseInt ( $( '#mat_kiek' ).val() )
				, kaina: parseFloat ( $( '#kaina' ).val() )
				, kiekis_sand: parseFloat ( $( '#kiekis_sand' ).val() )
			}
			
			params_str = 
				"id=" + redaguotas.id
				+ "&pav="  + redaguotas.pav 
				+ '&mat_vnt=' + redaguotas.mat_vnt 
				+ '&mat_kiek=' + redaguotas.mat_kiek 
				+ '&kaina=' + redaguotas.kaina
				+ '&kiekis_sand=' + redaguotas.kiekis_sand
				
			$.ajax(
				{
					url: "http://localhost:8080/restfull/editp?" + params_str
				}
			)
			.done( function( data ) {
				
				pasiimtiProduktus();
			
			});
		
		dialog.dialog( "close" );
	
		}		
		
		dialog = $( "#dialog-form" ).dialog({
		autoOpen: false,
		height: 600,
		width: 380,
		modal: true,
		buttons: {
        "Išsaugoti pakeitimus": editP,
        Uždaryti: function() {
         dialog.dialog( "close" );
        }
		},
		});
		
		dialog1 = $( "#dialog-form1" ).dialog({
		autoOpen: false,
		height: 580,
		width: 350,
		modal: true,
		buttons: {
        "Įtraukti produktą": addProdukt,
        Uždaryti: function() {
         dialog1.dialog( "close" );
        }
		},
		});	
			
	});
	
	$( function() {
    $( document ).tooltip();
	} );
	
</script>

</head>

<body>
	
	<nav class="menu">
		<input type="checkbox" href="#" class="expandmenu" name="expandmenu" id="expandmenu" />
		<label class="expandmenu-button" for="expandmenu">
			<span class="lines first-line"></span>
			<span class="lines sec-line"></span>
			<span class="lines third-line"></span>
			<span class="label fourth-line">Meniu</span>
		</label>
		<a href="http://localhost:8080/uzsakymai" class="menu-item col1"> <i class="fas fa-cart-arrow-down"></i> </a>
 		<a href="http://localhost:8080/patiekalai" class="menu-item col2"> <i class="fas fa-utensils"></i> </a>
		<a href="http://localhost:8080/produktai" class="menu-item col3"> <i class="fas fa-carrot"></i> </a>
		<a href="http://localhost:8080/apie" class="menu-item col4"> <i class="fas fa-info"></i> </a>
	</nav>
	
	<p><label for="itraukti"></label><input class="itraukti ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button" value="Įtraukti naują" id="itraukti" title="Įtraukti naują produktą į duomenų bazę."></p>
	
	<div id="message"></div>
	<div id="produktai"></div>	
	
	<div id="dialog-form" title="Redaguoti produktą">
	<form>
    <fieldset>
	
	  <label for="id">Prekės ID</label>
      <input type="text" name="id" id="id" value="id" class="text ui-widget-content ui-corner-all">
	  
      <label for="pav">Pavadinimas</label>
      <input type="text" name="pav" id="pav" value="pav" class="text ui-widget-content ui-corner-all">
	  
      <label for="email">Mato vienetai</label>
      <input type="text" name="email" id="mat_vnt" value="mat_vnt" class="text ui-widget-content ui-corner-all">
	  
      <label for="mat_kiek">Mato kiekybė</label>
      <input type="text" name="password" id="mat_kiek" value="mat_kiek" class="text ui-widget-content ui-corner-all">
	  
	  <label for="password">Kaina</label>
      <input type="text" name="password" id="kaina" value="kaina" class="text ui-widget-content ui-corner-all">
	  
	  <label for="password">Kiekis sandėlyje</label>
      <input type="text" name="password" id="kiekis_sand" value="kiekis_sand" class="text ui-widget-content ui-corner-all">
       
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
	</form>
	</div>
	
	<div id="dialog-form1" title="Įtraukti produktą">
	<p class="validateTips">Visi laukai privalomi!</p>
 	<form>
    <fieldset>
	
	  <label for="pavp">Pavadinimas</label>
      <input type="text" name="pavp" id="pavp" class="text ui-widget-content ui-corner-all">
	  
      <label for="mat_vntp">Mato vienetai</label>
      <input type="text" name="mat_vntp" id="mat_vntp"  class="text ui-widget-content ui-corner-all">
	  
      <label for="mat_kiekp">Mato kiekybė</label>
      <input type="text" name="mat_kiekp" id="mat_kiekp"  class="text ui-widget-content ui-corner-all">
	  
	  <label for="kainap">Kaina</label>
      <input type="text" name="kainap" id="kainap" class="text ui-widget-content ui-corner-all">
	  
	  <label for="kiekis_sandp">Kiekis sandėlyje</label>
      <input type="text" name="kiekis_sandp" id="kiekis_sandp" class="text ui-widget-content ui-corner-all">
       
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
	</form>
	</div>	
	
	
</body>
</html>