<!DOCTYPE HTML>
<html xmlns:th="http://www.niekam.nieko">
<head>

    <title>Užsakymai</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/black-tie/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="meniu.css">
	<link rel="icon" href="favicon.ico">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
	
<style>
					
		/* formos stilius */
					
	label, input { display:block; }
	input.text { margin-bottom:12px; width:95%; padding: .4em; }
	fieldset { padding:0; border:0; margin-top:25px; }
	h1 { font-size: 1.2em; margin: .6em 0; }
	div#users-contain { width: 350px; margin: 20px 0; }
	div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
	div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
	.ui-dialog .ui-state-error { padding: .3em; }
	.validateTips { border: 1px solid transparent; padding: 0.3em; }
			
	.itraukti {
	color: green;
	left: 1050px;
	top: 35px;
	}
	
	#hm {
	
	position: absolute;
	width:50%;
	left: 1230px;
	top: 50px;
	
	}
	
</style>
		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" 
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
			crossorigin="anonymous">
	</script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
		
		<!--script>		//kad netrugdytu gyventi
	
			hash = " ";
			while (hash != "21232f297a57a5a743894a0e4a801fc3") {	
				var name = prompt("Vartotojas:", "");	// admin :)
				var hash = CryptoJS.MD5(name);
			}
			alert("Welcome!");	

		</script-->
	
	<script>
	
	$(document).ready ( function() {
			
		var id_accessing;
		var patiekalas = [];
		
				
		pasiimtiUzsakymus();
		
		
		function keistiBusena( id, busena) {
		
			params_str = 'id=' + id + '&busena=' + busena;  
		
			$.ajax(
				{
					url: "http://localhost:8080/restfull/changestatus?" + params_str
				}
			)
			.done( function( data ) {
				
				pasiimtiUzsakymus();
			});			
		}
		
		function pasiimtiUzsakymus() {
		
			pasiimtiPatiekalus();
					
			$.ajax(
				{
					url: "http://localhost:8080/restfull/all" 
															
				})
			
			.done(	function( data ) {	
			
				res_str = '<table align="center"><thead class="ui-widget-header">'
					+ '<tr><th rowspan="2">ID</th><th rowspan="2">Pavadinimas</th><th colspan="2">Trukmė</th></tr>'
					+ '<tr><th>ruošimo</th><th>kaitinimo</th><th>Bus patiektas uz</th><th>Veiksmas</th></tr>';
						
				for ( i = 0; i < data.length; i++) {
						
					res_str += '<tr class="s' + data [ i ].busena  + '" data-id="' + data [ i ].id  +'" >'
						+ '<td>' + data [ i ].id + '</td>' 
						+ '<td>' + data [ i ].pav + '</td>'
						+ '<td>' + data [ i ].trukme_ruosimo + '</td>'
						+ '<td>' + data [ i ].trukme_kaitinimo + '</td>'
						+ '<td>' + patiekalas [ i ] + '</td>';
								
					if ( data [ i ].busena == 'uzsakytas' ) {	
							
						res_str +=
							'<td><input type="button" class="anuliuotas ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="anuliuotas"></td>'
							+ '<td><input type="button" class="ivykdytas ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="įvykdytas"></td>'
					}
					
					if (data [i].busena == 'anuliuotas') {
						res_str += '<td><input type="button" class="uzsakytas ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="užsakyti"></td>'
					}
					
					if (data [i].busena == 'ivykdytas') {
						res_str += '<td><input type="button" class="uzsakytas ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" value="užsakyti"></td>'
					}
						res_str += '</tr>';
				}
						
				res_str += '</table>'
				
					$( '#uzsakymai' ).html ( res_str );
						
					$( '.anuliuotas' ).on ( 'click', function() {
						
						$( this ).each ( function() {
								
							id_accessing = $( this ).parent( ).parent().data ( 'id' );
							ConfirmDialog('Ar tikrai nori ištrinti?');
								
						});
					});

				$( '.ivykdytas' ).on ( 'click', function() {
						
					$( this ).each ( function() {
								
						id_uzsakymo = $( this ).parent( ).parent().data ( 'id' );
						keistiBusena ( id_uzsakymo, 'ivykdytas' );
					});
				});	
							
				$( '.uzsakytas' ).on ( 'click', function() {
						
					$( this ).each ( function() {
								
						id_uzsakymo = $( this ).parent( ).parent().data ( 'id' );
						keistiBusena ( id_uzsakymo, 'uzsakytas' );
					});
				});
				
				$( '.sudetis' ).on ( 'click', function() {
							
					patiekalo_id = $( this ).parent().parent().data( 'id' );
						
						$.ajax(
							{
								url: "http://localhost:8080/restfull/ingredientai?patiekalo_id="  + patiekalo_id 
															
							})
							
							.done(	function( data ) {
									
								if ( data.produktai.length > 0 ) {
									
									$( "#prod_sudetis" ).dialog( "open" );
									
									patiekalas = data; 
																									
									if ( patiekalas.produktai.length > 0 ) {
										
										i=0;
										ingredientai=" ";
										
										while (i < patiekalas.produktai.length) {
											
											ingredientai = ingredientai + " " + patiekalas.produktai[i].pav
											i++;
										}
										
										$( '#prod_sudetis' ).dialog({   //nusistatom dialogo lango pavadinima
											autoOpen: false,
											title: "Patiekalo: " + patiekalas.pav + " sudėtis:"
										});
									
										$( '#ingredientas' ).html ( ingredientai );
									
									}	
								}									
									
								if ( data.produktai.length == 0 ) {
									
									alert("Sitam patiekalui nera produktu!");
									
								}
							});
				});
			});
								
		}
		
		function pasiimtiPatiekalus() {
		
		$.ajax(
				{
					url: "http://localhost:8080/restfull/isnesioti" 
															
				})
			
			.done(	function( data ) {	
			
				for ( i = 0; i < data.length; i++) {
						
				patiekalas[i]=data[i].patiekimo_laikas;
				
				}
						
			});
		}
		
		$( '#naujas_uzsakymas' ).click( function() {
		
			uzsakymas = {
				
				pav: $( '#pav' ).val()
				, trukme_ruosimo: parseInt ( $( '#trukme_ruosimo' ).val() )
				, trukme_kaitinimo: parseInt ( $( '#trukme_kaitinimo' ).val() )
			}
			
			params_str = 
				"pav="  + uzsakymas.pav 
				+ '&trukme_ruosimo=' + uzsakymas.trukme_ruosimo 
				+ '&trukme_kaitinimo=' + uzsakymas.trukme_kaitinimo 
				
			$.ajax(
				{
					url: "http://localhost:8080/restfull/add?" + params_str
				}
			)
			.done( function( data ) {
				
				pasiimtiUzsakymus();
			
			});
		});
			
		function doSubmit(){
   
			var formData = new FormData();
			var fileSelect = document.getElementById("fileSelect");
				if (fileSelect.files[0] == null) {
					alert("Nepridėtas failas!");
				}
				
				if(fileSelect.files && fileSelect.files.length == 1){
					var file = fileSelect.files[0]
					formData.set("file", file , file.name);
				}
	    
			var request = new XMLHttpRequest();
			request.open('POST', "http://localhost:8080/upload");
			request.send(formData);
	
			request.onreadystatechange = function() {						// be sito patikrinimo ar gautas response, niekas negaunama, turi buti parejes visi duomenys
				if (this.readyState == 4 && this.status == 200) {
					document.getElementById('message').innerHTML = this.responseText;
				}
			
				pasiimtiUzsakymus();	// atiduodam importuotus uzsakymus i html, po to kai jau atejo reponse kad importas ivykes.
			}
		}
		
		$( '#somebutton' ).click( function() {
			
			doSubmit();
					
		});

		$( "#itraukti" ).on( "click", function() { dialog.dialog( "open" );	});
	
		function ConfirmDialog(message) {
			$('<div></div>').appendTo('body')
			.html('<div><h6>' + message + '?</h6></div>')
			.dialog({
			modal: true,
			title: 'Įspėjimas!',
			zIndex: 10000,
			autoOpen: true,
			width: 'auto',
			resizable: false,
			buttons: {
			Taip: function() {
          
				keistiBusena ( id_accessing, 'anuliuotas' );
				
				$(this).dialog("close");
				},
			
			Ne: function() {
				
				$(this).dialog("close");
				}
			},
			
			close: function(event, ui) {
			$(this).remove();
			}
			});
		};

		function addPat() {
		
			if ( $(pav).val().length == 0 ) {
		
				alert("Pavadinimo laukas tusčias!");
			}
			
			else if 	( $(trukme_ruosimo).val().length == 0 ) {
		
				alert("Trukmė ruošimo laukas tusčias!");
			}	
		 
			else if 	( $(trukme_kaitinimo).val().length == 0 ) {
		
				alert("Trukmė kaitinimo laukas tusčias!");
			}
		
			else {
			
				itrauktas = {
				pav: $( '#pav' ).val()
				, trukme_ruosimo: $( '#trukme_ruosimo' ).val() 
				, trukme_kaitinimo: parseInt ( $( '#trukme_kaitinimo' ).val() )
				}
			
				params_str = 
				"pav="  + itrauktas.pav 
				+ '&trukme_ruosimo=' + itrauktas.trukme_ruosimo 
				+ '&trukme_kaitinimo=' + itrauktas.trukme_kaitinimo
							
				$.ajax(
				{
					url: "http://localhost:8080/restfull/add?" + params_str
				})
					
				.done( function( data ) {
				
					pasiimtiUzsakymus();
			
				});	
		
				dialog.dialog( "close" );	
			}
		}
	
		dialog = $( "#dialog-form" ).dialog({
	
			autoOpen: false,
			height: 450,
			width: 350,
			modal: true,
			buttons: {
			"Įtraukti patiekalą": addPat,
			Uždaryti: function() {
			dialog.dialog( "close" );
			}
			},
		});
		
		$( "#prod_sudetis" ).dialog({
		
			autoOpen: false,
			show: {
			effect: "blind",
			duration: 300
			},
			hide: {
			effect: "explode",
			duration: 300
			}
		});
			
	});
		
	$( function() {
    $( document ).tooltip();
	});
		
</script>

</head>

<body>

	<nav class="menu">
		<input type="checkbox" href="#" class="expandmenu" name="expandmenu" id="expandmenu" />
		<label class="expandmenu-button" for="expandmenu">
			<span class="lines first-line"></span>
			<span class="lines sec-line"></span>
			<span class="lines third-line"></span>
			<span class="label fourth-line">Meniu</span>
		</label>
		<a href="http://localhost:8080/uzsakymai" class="menu-item col1"> <i class="fas fa-cart-arrow-down"></i> </a>
 		<a href="http://localhost:8080/patiekalai" class="menu-item col2"> <i class="fas fa-utensils"></i> </a>
		<a href="http://localhost:8080/produktai" class="menu-item col3"> <i class="fas fa-carrot"></i> </a>
		<a href="http://localhost:8080/apie" class="menu-item col4"> <i class="fas fa-info"></i> </a>
	</nav>
	
	<p><label for="itraukti"></label><input class="itraukti ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button" value="Įtraukti naują" id="itraukti" title="Įtraukti naują patiekalą į užsakymus."></p>
	
	<div id="dialog-form" title="Įtraukti patiekalą:">
	<p class="validateTips">Visi laukai privalomi!</p>
	<form id="f1">
    <fieldset>
	  <label for="pav">Patiekalo pavadinimas</label>
      <input type="text" name="pav" id="pav" class="text ui-widget-content ui-corner-all">
	  
      <label for="email">Trukmė ruošimo</label>
      <input type="text" name="email" id="trukme_ruosimo" class="text ui-widget-content ui-corner-all">
	  
      <label for="mat_kiek">Trukmė kaitinimo</label>
      <input type="text" name="password" id="trukme_kaitinimo" class="text ui-widget-content ui-corner-all">
	  	    
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
    </fieldset>
	</form>
	</div>
	
	<div id="prod_sudetis" >
		<p><div id="ingredientas" ></div></p>
	</div>
	
	<form id="hm">
		<input class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="file" id="fileSelect" accept=".csv"/>
		<button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" id="somebutton" type="button">Siūsti</button>
	</form>
		
	<div id="message"></div>
	<div id="uzsakymai"></div>	

</body>
</html>